<a href="https://colab.research.google.com/github/KISHOREV156/githubemc1/blob/main/Ml_training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name=input("enter your name:")
age=int(input("enter your age:"))
clg=input("enter your college:")
print(f" I am {name}, {age} years old persuing my B.Tech degree in {clg}")

enter your name:Kishore
enter your age:19
enter your college:Adhiyamaan college of Engineering
 I am Kishore , 19 years old persuing my B.Tech degree in Adhiyamaan college of Engineering

In [ ]:
num=int(input("enter your number:"))

if num%2 == 0:
     print(f"{num} is even")
else:
     print(f"{num} is odd")

enter your number:7
7 is odd

In [ ]:
num=int(input("enter your number:"))

if num >0 :
     print(f"{num} is positive")
elif num<0 :
     print(f"{num} is negative")
else:
     print(f"{num} is zero")

enter your number:098
98 is positive

In [ ]:
a=int(input("enter number 1:"))
b=int(input("enter number 2:"))
c=int(input("enter number 3:"))
if a>=c and a>=b:
    print("biggest=",a)
elif b>=a and b>=c:
    print("biggest=",b)
else:
    print("biggest=",c)

enter number 1:1
enter number 2:2
enter number 3:3
biggest= 3

#LOOP

In [ ]:
n=int(input("enter table:"))
n2=int(input("enter number:"))
for i in range(1,n2+1):
    print (i,f"x{n}={i*n}")

enter table:2
enter number:5
1 x2=2
2 x2=4
3 x2=6
4 x2=8
5 x2=10

In [ ]:
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [ ]:
name=input("enter std. name:")
a=int(input("enter 1st sub. Mark:"))
b=int(input("enter 2nd sub. Mark:"))
c=int(input("enter 3rd sub. Mark:"))
d=int(input("enter 4th sub. Mark:"))
e=int(input("enter 5th sub.Mark:"))
mark=[a,b,c,d,e]
def add():
     total=a+b+c+d+e

     avg=total/5

     if avg>=75 and avg<=100:
         grade= "A"
     elif avg>=50 and avg<75:
         grade= "B"
     elif avg<50 and avg>34:
         grade= "C"
     else:
         grade= "A"

     return total, avg , grade

total,avg, grade=add()

student = {"Name": name ,
           "Mark": mark,
           "Total": total,
           "Average": avg,
           "Grade": grade}
print ("-------student report---------")
print (f"Name    : {student["Name"]}")
print (f"Mark    : {student["Mark"]}")
print (f"Total   : {student["Total"]}")
print (f"Average : {student["Average"]}")
print (f"Grade   : {student["Grade"]}")

enter std. name:Kishore
enter 1st sub. Mark:83
enter 2nd sub. Mark:83
enter 3rd sub. Mark:37
enter 4th sub. Mark:93
enter 5th sub.Mark:38
-------student report---------
Name    : Kishore
Mark    : [83, 83, 37, 93, 38]
Total   : 334
Average : 66.8
Grade   : B